
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-9 col-xs-12">

			<div class="panel panel-default">
				<div class="panel-body" style="padding-bottom: 0;">
				</div>
				<div class="panel-footer">
				</div>
			</div>

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>Dictiomanyについて</b></span><br class="visible-xs-block"><span class="font-30"> について</span>
						
					</div>

					<div class="signup">
						
					</div>

				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">

					<div class="row">
						<div class="col-lg-4 col-xs-12 text-center">
				    		<%= image_tag("img/diction_image1.png", class: "attachment admin image acount_image center-block fallback", style: "background-color: #fff;") %>
				    		<h2><b>Dictiomany</b></h2>
				    		<p class="">他業種間の知識理解の相違を減らすお手伝いを目的として<br>
				    			Save-Oneによって発案　2018年5月に実装
				    		</p>
	    				</div>

	    				<div class="col-lg-8">
	    					<h2><b>サイトの目的</b></h2>
	    					<p class=""><b>　専門用語の多い業界では、業界間のコミュニケーションにおいて言葉選びに難儀するという話を聞きました。エンジニアと非エンジニアの間にも、同様に言葉から受け取る意味に差があると考え、その差を少しでもなくすサイトを作りたいと考えてDictiomanyの開発を始めました。</b></p>
	    					<p><b>　業界だけでなく、チームや会社の中でしか通じない言葉を使う機会もなかなか少なくない現代で、言葉を一旦まとめて統一化することで勘違いによるミスを減らし、転職者などの新参者でも早いうちから会話に加われる仕組みづくりに使っていただけると幸いです。</b></p>
	    					<p><b>　また、家族や恋人、友達の間でしか通じない言葉も多くあると思います。過去の記憶を呼び覚ましてくれるのは、情景よりも当時よく使っていた言葉の方が多いと考えております。覚えておきたい思い出をいつか思い出すためのトリガーとして、ご活用してくださるなど、様々な形でDictiomanyをご利用していただけると幸いです。</b></p>
	    				</div>
    				</div>

    				<hr>

    				<div class="row">
	    				<div class="col-lg-4 col-xs-12 text-center">
	    					<%= image_tag("img/acount_image1.png", :class => "acount_image center-block") %>
	    					<h2><b>大場　貴裕</b></h2>
	    					<p>1998年生まれ 19歳</p>
	    				</div>

	    				<div class="col-lg-8">
	    					<h2><b>経歴紹介</b></h2>
	    					<p class=""><b>　専門用語の多い業界では、業界間のコミュニケーションにおいて言葉選びに難儀するという話を聞きました。エンジニアと非エンジニアの間にも、どうように言葉から受け取る意味に差があると考え、その差を少しでもなくすサイトを作りたいと考えてDictiomanyの開発を始めました。</b></p>
	    					<p><b>　業界だけでなく、チームや会社の中でしか通じない言葉を使う機会もなかなか少なくない現代で、言葉を一旦まとめて統一化することで勘違いによるミスを減らし、転職者などの新参者でも早いうちから会話に加われる仕組みづくりに使っていただけると幸いです。</b></p>
	    					<p><b>　また、家族や恋人、友達の間でしか通じない言葉も多くあると思います。過去の記憶を呼び覚ましてくれるのは、情景よりも当時よく使っていた言葉の方が多いと考えております。覚えておきたい思い出をいつか思い出すためのトリガーとして、ご活用してくださるなど、様々な形でDictiomanyをご利用していただけると幸いです。</b></p>
	    				</div>
    				</div>
				</div>
				<div class="panel-footer">
					
				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>




<script>
	
</script>