
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-xs-12 top-width-height" style="position: relative;">

			<div class="top-position">
				
				<h1 class="text-center top-shadow"><b><span style="color:#fa9632">Dictiomany</span>へようこそ。</b></h1>

				<h2 class="text-center top-shadow"><b>Dictiomanyでは、あなただけの辞書を作ったり、</b></h2>
				<h2 class="text-center top-shadow"><b>みんなでひとつの辞書をつくりあげることができます。</b></h2>
				<h2 class="text-center top-shadow"><b>会社やチームで共有したい言葉を管理することも、</b></h2>
				<h2 class="text-center top-shadow"><b>家族や恋人だけの特別な辞書をつくることもできます。</b></h2>
				<h2 class="text-center top-shadow"><b>さあはじめてみましょう。</b></h2>

				<% if user_signed_in? %>
				<div class="signup" style="width: 100%">
					<%= link_to user_path(current_user) do %>
						<button type="button" class="btn btn-default btn-lg top-btn" style="width: 100%" >
							<i class="fas fa-mouse-pointer"></i>
							使ってみる
						</button>
					<% end %>
				</div>

				<% else %>

				<div class="signup">
					<%= link_to new_user_session_path do %>
						<button type="button" class="btn btn-default btn-lg top-btn" style="width: 60%" >
							<i class="fas fa-user-plus"></i>
							新規会員登録
						</button>
					<% end %>
					<%= link_to new_user_session_path do %>
						<button type="button" class="btn btn-default btn-lg pull-right top-btn" style="width: 35%">
							<i class="fas fa-sign-in-alt"></i>
							ログイン
						</button>
					<% end %>
				</div>
				<% end %>
			</div>

		</div>
	</div>
</div>

