<div class="container-fluid">
	<div class="row">
		<p>Dictiomanyトップ > </p>
		<div class="col-xs-9">

			<div class="panel panel-default" id="favo-d-div">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>お問い合わせの詳細</b></span><!-- <span class="font-30"></span> -->

								<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#new-contact" data-backdrop="static">
									お問い合わせをする
								</button>
					</div>
				</div>
			</div>



			<div class="panel panel-default">

				<div class="panel-body" style="padding-bottom: 0;">

				</div>
				<div class="panel-footer">

				</div>
			</div>

		</div>
			
<%= render partial: "layouts/sidebar" %>
	</div>
</div>

<%= render partial: "layouts/newcontact" %>