/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 #header .navbar-default {
 	background-color: #fa9632;
 }

 #header .navbar-default .navbar-brand {
 	color: #fff;
 }

 body {
 	padding-top: 50px;
 	margin: 0 82px;
 	font-size: 16px;
 	font-family: "Midashi Go MB31";
 	background-color: #faf0e6;
 }

 .signup {
 	padding-top: 15px;
 }

 .newform-footer {
 	border-style: none;
 }

 .newform-body {
 	border-bottom: 1px solid #e5e5e5;
 }

 .book-image {
 	width: 150px;
 }

 .acount_image {
 	width: 320px;
 	height: 320px;
 	border-radius: 50%;
 	border: 1px solid #dcdcdc;
 	/*下一行とwidthとheightのpxの正方形指定で、画像を捻じ曲げることなくトリミング*/
 	object-fit: cover;
 }



/*プロフィール写真の変更でプレビュー時に出るimgタグの決まっているclass名*/
 .thumb {
 	width: 120px;
 	height: 120px;
 	border-radius: 50%;
 	border: 1px solid #dcdcdc;
 	object-fit: cover;
 }

 .index-user-icon {
 	width: 50px;
 	height: 50px;
 	border-radius: 50%;
 	border: 1px solid #dcdcdc;
 	object-fit: cover;
 }

 .index-user-tr td {
 	vertical-align: middle !important;
 }

 .user_word {
 	color: grey;
 }

 .font-normal {
 	font-size: 17px;
 }

 .font-21 {
 	font-size: 21px;
 }

 .font-30 {
 	font-size: 30px;
 }

 .font-37 {
 	font-size: 37px;
 }

 .font-45 {
 	font-size: 45px;
 }

 th {
 	font-size: 17px;
 }

 td {
 	font-size: 16px;
 	font-weight: bold;
 }

 a {
 	font-size: 16px;
 }

 p {
 	font-size: 16px;
 }

 .btn {
 	font-size: 16px;
 	font-weight: bold;
 }

 .btn[disabled] {
 	opacity: 1;
 }

 #down-icon .glyphicon {
 	top: 3.5px;
 }

 .meaning-panel-body {
 	padding: 10px 30px;
 }

 .pluss {
 	margin-bottom: 15px;
 }

 .mean-b a {
 	font-size: 21px;
 }

 .noone {
 	color: grey;
 }

/*publicでの意味だけの追加*/
 .p-none {
 	display: none;
 }

 .contact-textarea {
 	height: 200px !important;
 }

 .cursor {
 	cursor: pointer;
 }

 .form-control {
 	font-size: 16px;
 }

 .search-field {
 	height: auto !important;
 }