/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
 	padding-top: 50px;
 	margin: 0 75px;
 }

 .signup {
 	padding-top: 15px;
 }

 .newform-footer {
 	border-style: none;
 }

 .newform-body {
 	border-bottom: 1px solid #e5e5e5;
 }

 .book-image {
 	width: 150px;
 }

 .acount_image {
 	width: 320px;
 	height: 320px;
 	border-radius: 50%;
 	border: 1px solid #dcdcdc;
 	/*下一行とwidthとheightのpxの正方形指定で、画像を捻じ曲げることなくトリミング*/
 	object-fit: cover;
 }


/*プロフィール写真の変更でプレビュー時に出るimgタグの決まっているclass名*/
 .thumb {
 	width: 120px;
 	height: 120px;
 	border-radius: 50%;
 	border: 1px solid #dcdcdc;
 	object-fit: cover;
 }