<% breadcrumb :admin_profile %>
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-9 col-xs-12">
			<%= render partial:"admins/layouts/breadcrumbs" %>

			<div class="panel panel-default">
				<div class="panel-body meaning-panel-body">
					<div>
						<span class="font-37"><b>サイト・作成者について</b></span><br class="visible-xs-block"><span class="font-30"></span>
						
					</div>

					<div class="signup">
						
					</div>

				</div>
			</div>



			<div class="panel panel-default">
				
				<div class="panel-body" style="padding-bottom: 0;">

					<div class="row">
						<div class="col-lg-4 col-xs-12 text-center">
				    		<%= image_tag("img/diction_image1.png", class: "attachment admin image acount_image center-block fallback", style: "background-color: #fff;") %>
				    		<h2><b>Dictiomany</b></h2>
				    		<p class="">業界間、チーム間、会社間での<br>コミュニケーションの円滑化のお手伝いを目的として、<br>大場 貴裕によって発案・開発<br>2018年5月に実装
				    		</p>
	    				</div>

	    				<div class="col-lg-8">
	    					<h2><b>サイトの目的</b></h2>
	    					<p class=""><b>　専門用語の多い業界では、業界間のコミュニケーションにおいて言葉選びに難儀するという話を聞きました。エンジニアと非エンジニアの間にも、同様に言葉から受け取る意味に差があると考え、その差を少しでもなくすサイトを作りたいと考えてDictiomanyの開発を始めました。</b></p>
	    					<p><b>　業界だけでなく、チームや会社の中でしか通じない言葉を使う機会もなかなか少なくない現代で、言葉を一旦まとめて統一化することで勘違いによるミスを減らし、転職者などの新参者でも早いうちから会話に加われる仕組みづくりに使っていただけると幸いです。</b></p>
	    					<p><b>　また、家族や恋人、友達の間でしか通じない言葉も多くあると思います。過去の記憶を呼び覚ましてくれるのは、情景よりも当時よく使っていた言葉の方が多いと考えております。覚えておきたい思い出をいつか思い出すためのトリガーとして、ご活用してくださるなど、様々な形でDictiomanyをご利用していただけると幸いです。</b></p>
	    				</div>
    				</div>

    				<hr>

    				<div class="row">
	    				<div class="col-lg-4 col-xs-12 text-center">
	    					<%= image_tag("img/acount_image1.png", :class => "acount_image center-block") %>
	    					<h2><b>大場　貴裕</b></h2>
	    					<p><b>1998年生まれ 19歳(2018年現在)</b></p>

	    				</div>

	    				<div class="col-lg-8">
	    					<h2><b>経歴紹介</b></h2>
	    					<div class="list-group" style="font-weight: bold;">
	    						<a class="list-group-item">2017年　4月　静岡の高校を卒業後、地元で有名な自動車メーカーの工場に就職</a>
	    						<a class="list-group-item">2017年 12月　会社を退職し、エンジニアになるべく勉強と転職活動を始める</a>
	    						<a class="list-group-item">2017年　3月　東京のプログラミングスクールに入校</a>
	    						<a class="list-group-item">現在に至る</a>
	    					</div>
	    					<h2><b>メッセージ</b></h2>
	    					<p><b>　まずはDictiomanyを訪問してくださリ誠にありがとうございます。</b></p>
	    					<p><b>　私が0からサイトの開発を行うのはこのDictiomanyが初めてでとても苦労しましたが、おかげで多くの気づきに出会えたと感謝しております。</b></p>
	    					<p><b>　Dictiomanyを開発する上で、まずはユーザがどこに目を向け何を重点的に使うのかを意識しました。多くのユーザは画面の左上から見ることを考えて、どのページなのかすぐに判別できるように見出しを配置したり、よく使う可能性の高い辞書の作成と投稿のリンクを、サイドメニューとしてどのページからでも使用できるようにしました。また、モーダルウインドウを多数配置し、ページ遷移の数を減らすことで、少しでもユーザの手持ち無沙汰につながらないようにようにいたしました。</b></p>
	    					<p><b>　私には、困っている人を助けたり、多くの人の役に立つ人でありたいという強い信念があります。プログラミングの勉強を始めてまだまだ日が浅く、技術も経験もまだまだこれからという時期ですが、Dictiomanyの開発をはじめとして様々なことに挑戦し、多くの人々に笑顔と満足を提供できるエンジニアになるべく努力を重ねていきたいと考えております。</b></p>
	    					<p><b></b></p>
	    				</div>
    				</div>
				</div>

				<div class="panel-footer">
					
				</div>
			</div>

		</div>
			
<%= render partial: "admins/layouts/sidebar" %>
	</div>
</div>




<script>
	
</script>