
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12 col-xs-12" style=" width: 100%; height: 700px; position: relative;">

			<div class="top-position">
				
				<h1 class="text-center top-shadow"><b><span style="color:#fa9632">Dictiomany</span>へようこそ。</b></h1>

				<h2 class="text-center top-shadow"><b>Dictiomanyでは、あなただけの辞書を作ったり、</b></h2>
				<h2 class="text-center top-shadow"><b>みんなでひとつの辞書をつくりあげることができます。</b></h2>
				<h2 class="text-center top-shadow"><b>会社やチームで共有したい言葉を管理することも、</b></h2>
				<h2 class="text-center top-shadow"><b>家族や恋人だけの特別な辞書をつくることもできます。</b></h2>
				<h2 class="text-center top-shadow"><b>さあはじめてみましょう。</b></h2>


				<div class="signup">
					<%= link_to admins_publics_path do %>
						<button type="button" class="btn btn-default btn-lg top-btn" style="width: 100%" >
							<i class="fas fa-mouse-pointer"></i>
							使ってみる
						</button>
					<% end %>
				</div>

			</div>

		</div>
	</div>
</div>

