<!-- comment -->
<div class="modal fade" id="p-comment" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>✖</span></button>
				<h4 class="modal-title">New Comment</h4>
			</div>
			<div class="modal-body newform-body">
				<%= form_for(@new_comment, url:diction_word_meaning_comments_path(diction_id: @diction.id, word_id: @word.id, meaning_id: @p_meaning.id) , html: {:class => "form-group"}) do |f| %>
				<div>
					<%= f.label "コメント", {class: "form-label"} %>
					<%= f.text_field :content, class: "form-control", required:true %>
				</div>

			</div>
			<div class="modal-footer row newform-footer">
				<div class="col-xs-9">
					<%= f.submit "投稿する", class: "btn btn-primary form-control", data: {disable_with: "投稿中..."} %>
				</div>
				<div class="col-xs-3" >
					<button type="button" class="btn btn-default form-control" data-dismiss="modal">閉じる</button>
				</div>

				<!-- publicか判別用 -->
				<input type="hidden" name="pub" value="public-comment" >
				<% end %>
			</div>

		</div>
	</div>
</div>